POSTGRES_USER=[your_user]
POSTGRES_PASSWORD=[your_password]
POSTGRES_DB=[your_user]

DATABASE_URL=postgresql://[POSTGRES_USER]:[POSTGRES_PASSWORD]@localhost:[PORT]/[POSTGRES_DB]
PORT=[3000]
NODE_ENV=[development]

JWT_ACCESS_SECRET=[LARGE_STRING]
ACCESS_TOKEN_TTL_SECONDS=[number_in_secs]
REFRESH_TOKEN_TTL_DAYS=[number_days]